@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ropa+Sans:ital@0;1&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}


:root {
    --world-color: #0E2E50;
    --photo-color: #00B98E;
    --pgh-color: #666565;
    --f-color: #FFFFFF80;
}

.heading {
    color: var(--world-color);
}

.green {
    color: var(--photo-color);
}

.pgh {
    color: var(--pgh-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
span {
    text-decoration: none;
}

ul {
    list-style: none;

}

/* header{
    background-image: url(../images/carousel-1.jpg);
    height: 100vh;
    width: 100dvw;
} */
.letters li a {
    color: var(--world-color);
    font-weight: normal;
    font-weight: 400;
}

.bgs {
    margin-top: 20px;
    position: fixed;
    top: 40px;
    z-index: 1000;
    background: red;
}

.letters li a:hover {
    color: #00B98E;
}

.image img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 10px;
    border: 2px dotted var(--photo-color);
}

.image {
    color: var(--photo-color);
    font-weight: bold;
}

.image:hover {
    color: var(--photo-color);
}

.btn {
    background-color: #00B98E;
    border: var(--photo-color);
    color: white;
    font-weight: bold;
}

.btn:hover {
    background-color: #0acc9f;
    color: white;
}

.btns {
    border: 1px solid #00b98ece;
    border-radius: 100%;
    padding: 20px;
    background-color: var(--photo-color);
    color: white;
}

.ms-6 {
    margin-left: -1258px;
}

.ms-7 {
    margin-left: -120px;
    margin-top: -100px;
}

.section {
    background-color: #00B98E;
    padding: 35px;
}

.sbtn:hover {
    background-color: #133c68;
}

.sbtn {
    background-color: #0E2E50;
}

.ms {
    margin-left: 1261px;
}

/* propertytype */
#propertytype {
    padding: 100px;
}

.cards {
    border: 20px solid #cefcf159;

}

.child-cards {
    padding: 20px;
    border: 2px dotted var(--photo-color);
}

.icons {
    border: 2px dotted var(--photo-color);
    display: inline-block;
}

.icons img {
    padding: 10px;
    background-color: white;
}
<<<<<<< HEAD

.child-cards:hover {
    background-color: var(--photo-color);
}

.child-cards:hover h6 {
=======
.child-cards:hover{
    background-color: var(--photo-color);
}
.child-cards:hover  h6{
>>>>>>> cc68f6cea6f6aa119bef5fef19cf71273bcf2d88
    color: white;
}

.child-cards:hover span {
    color: white;
}

/* about */
.bod {
    background-color: var(--photo-color);
}

.mes {
    margin-left: 200px;
}

.bns {
    border: 1px solid var(--photo-color);
    background-color: white;
    color: #00B98E;
}

/* property */
#property {
    padding: 100px;
    color: #666565;
}

.bgs {
    background-color: var(--photo-color);
}

.border-top {
    border: 1px dashed var(--photo-color) !important;
}

.mt-6 {
    margin-top: 220px;
}

.main-contact {
    border: 1px dashed var(--photo-color);
}


.btnss {
    background-color: var(--world-color);
}
.btnss:hover {
background-color: var(--f-color);
color: white;
}

.apps {
    margin-left: 50px;
}

.apps a:hover {
    background-color: var(--photo-color);
    color: white;
}

.apps a {
    border-radius: 100%;
    margin-top: -20px;
    background-color: white;
    color: #00B98E;
}

.caro {
    border: 1px dashed var(--photo-color);
}

.ms-8 {
    margin-left: -483px;
}

.texts {
    margin-left: 150px;
}

.fcolor {
    color: var(--f-color);
}

#footer {
    background-color: var(--world-color);
}

.btn-social:hover {
    background-color: white;
    color: var(--photo-color);
}

.btn-social {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border: 1px solid var(--f-color);
    padding: 2px;
    margin-left: 5px;
    color: white;
}

.imgwidth img {
    width: 80px;
    border: 4px solid white;
    border-radius: 5px;
}

.btnsss {
    background-color: var(--photo-color);
    color: white;
    margin-top: -50px;
    margin-left: 168px;
}

.btnss:hover {
    background-color: var(--photo-color);
    color: white;
}

.coe {
    background-color: var(--world-color);

}

.breadcrumb-item{
    color: var(--photo-color);
}
.ks{
    font-size: 50px;
}
.hs{
    width: 100%;
    height: 470px;
}
.fs{
    font-size: 100px;
}
.iconss{
    border: 1px dashed var(--photo-color);
    border-radius: 100%;
    padding: 5px;
    width: 40px;
    height: 40px;
}
.contact-cards{
    border: 1px dashed var(--photo-color);
    padding:10px;
}