@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ropa+Sans:ital@0;1&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}


:root {
    --world-color: #0E2E50;
    --photo-color: #00B98E;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
span {
    list-style: none;
}

ul {
    text-decoration: none;
}
header{
    background-image: url(../images/carousel-1.jpg);
    height: 100vh;
    width: 100dvw;
}
.letters li a {
    color: var(--world-color);
    font-weight: normal;
    font-weight: 400;
}

.letters li a:hover {
    color: #00B98E;
}

.image img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 10px;
    border: 2px dotted var(--photo-color);
}

.image {
    color: var(--photo-color);
    font-weight: bold;
}

.image:hover {
    color: var(--photo-color);
}

.btn {
    background-color: #00B98E;
    border: var(--photo-color);
    color: white;
    font-weight: bold;
}

.btn:hover {
    background-color: #0acc9f;
    color: white;
}