@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ropa+Sans:ital@0;1&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}


:root {
    --world-color: #0E2E50;
    --photo-color: #00B98E;
    --pgh-color: #666565;
}

.heading {
    color: var(--world-color);
}

.green {
    color: var(--photo-color);
}

.pgh {
    color: var(--pgh-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
span {
    text-decoration: none;
}

ul {
    list-style: none;

}

/* header{
    background-image: url(../images/carousel-1.jpg);
    height: 100vh;
    width: 100dvw;
} */
.letters li a {
    color: var(--world-color);
    font-weight: normal;
    font-weight: 400;
}

.bgs {
    margin-top: 20px;
    position: fixed;
    top: 40px;
    z-index: 1000;
    background: red;
}

.letters li a:hover {
    color: #00B98E;
}

.image img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 10px;
    border: 2px dotted var(--photo-color);
}

.image {
    color: var(--photo-color);
    font-weight: bold;
}

.image:hover {
    color: var(--photo-color);
}

.btn {
    background-color: #00B98E;
    border: var(--photo-color);
    color: white;
    font-weight: bold;
}

.btn:hover {
    background-color: #0acc9f;
    color: white;
}

.btns {
    border: 1px solid #00b98ece;
    border-radius: 100%;
    padding: 20px;
    background-color: var(--photo-color);
    color: white;
}

.ms-6 {
    margin-left: -1258px;
}

.ms-7 {
    margin-left: -120px;
    margin-top: -100px;
}

.section {
    background-color: #00B98E;
    padding: 35px;
}

.sbtn:hover {
    background-color: #133c68;
}

.sbtn {
    background-color: #0E2E50;
}

.ms {
    margin-left: 1261px;
}

/* propertytype */
#propertytype {
    padding: 100px;
}
.cards {
    border: 20px solid #cefcf159;

}
.child-cards{
    padding: 20px;
    border: 1px dotted var(--photo-color);
}
.icons img {
    border: 2px dotted var(--photo-color);
    border-radius: 100%;
    padding: 10px;
    background-color: white;
}

.child-cards:hover  h6{
    color: white;
}
.child-cards:hover  span{
    color: white;
}